<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/danaotiangong/gamescene/spray_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,0}</string>
                <key>spriteSize</key>
                <string>{472,768}</string>
                <key>spriteSourceSize</key>
                <string>{552,768}</string>
                <key>textureRect</key>
                <string>{{2,2},{472,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/danaotiangong/gamescene/spray_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,0}</string>
                <key>spriteSize</key>
                <string>{454,768}</string>
                <key>spriteSourceSize</key>
                <string>{552,768}</string>
                <key>textureRect</key>
                <string>{{476,2},{454,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamescene.png</string>
            <key>size</key>
            <string>{932,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:872989c482660f92de45965fedc88ef5:f555f1840e086029fb98d11ec8f21950:9108cc8862abedea0127b8e99348b9a3$</string>
            <key>textureFileName</key>
            <string>gamescene.png</string>
        </dict>
    </dict>
</plist>
